 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfe3e8;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.card {
    width: 330px;
    padding: 25px 22px;
    background-color: #f5f7e9;

    border-radius: 8px;

    text-align: center;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.circle {
    width: 80px;
    height: 80px;

    margin: 0 auto 15px;

    border-radius: 50%;

    background-color: #e5e1d8;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #777;
    font-size: 14px;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 8px;
}

h4 {
    color: #777;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
}

.profile p {
    color: #888;
    font-size: 11px;
}

.about {
    margin: 18px 5px;

    color: #777;
    font-size: 12px;
    line-height: 1.6;
}

h3 {
    color: #555;
    font-size: 14px;
    margin-bottom: 12px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.skills span {
    color: #6091b8;
    font-size: 11px;
}

button {
    margin-top: 20px;

    padding: 10px 18px;

    border: none;
    border-radius: 5px;

    background-color: #70a9d0;
    color: white;

    font-size: 12px;

    cursor: pointer;
}

button:hover {
    background-color: #528eb8;
}